@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/animations";

.heroCard {
    @include m.hero-card-size;
    @include m.border-radius;
    padding: 30px;
    background-color: v.$primary-color;
    animation: slideOut 4s ease-in-out forwards,
        shadowAppear 3s ease-in-out 1s forwards;
    overflow: hidden;

    &__title {
        @include m.text-gradient;
        font-weight: 700;
        animation:
            textShadowAppear 1s ease-in-out 4s forwards,
            textShine 5s ease-in-out infinite alternate;
    }

    &__description {
        color: v.$tertiary-color;
    }

    @include m.responsive(mobile-medium) {
        @include m.responsive(mobile-medium) {
            height: auto;
            width: clamp(260px, 36.67vw, 528px);
        }

        width: clamp(260px, 36.67vw, 528px);
        animation: slideOut-mobile 4s ease-in-out forwards,
        textShadowAppear 1s ease-in-out 4s forwards,
        shadowAppear 1s ease-in-out 4s forwards;
    }
}