// src/components/UI/Modal/Modal.module.scss
@use "../../../assets/styles/variables" as v;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 90;
    backdrop-filter: blur(3px);
}

.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}