@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/mixins" as m;

.footer {
    @include m.flex-center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: v.$secondary-color;
    color: v.$primary-color;
    text-align: center;
    width: 100%;
    min-height: 60px;

    &__logo,
    &__arrowUp,
    &__social {
        @include m.logo;
    }

    &__socials {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .top {
        // Styles existants...
        transition: all 0.3s ease; // Transition douce sur toutes les propriétés

        &:hover {
            transform: translateY(-5px); // Monte légèrement au survol
            color: v.$tertiary-color; // Changement de couleur au survol
        }
    }
}