@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.sectionText {
    @include m.text-shadow;
    @include m.border-radius;
    width: 40%;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;

    @include m.responsive(tablet) {
        width: 80%;
    }

    @include m.responsive(mobile) {
        width: 100%;
    }
}