@use "../../../assets/styles/mixins" as m;

.hero {
    height: 95vh;
    @include m.flex-center;
    margin: 0 -30px;
    /* Fixe l'image pendant le scroll */
    background-attachment: fixed;
    /* L'image prendra 100% de l'espace, quitte à la crop */
    background-size: cover;
    /* Centre la position de l'image */
    background-position: center;
    /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/BgLighter.webp");

    @include m.responsive(mobile) {
        margin: 0 -10px;
    }
}