@use "../../../assets/styles/mixins" as m;

.hero {
    @include m.flex-center;
    height: 95vh;
    width: 100%;
    /* Fixe l'image pendant le scroll */
    background-attachment: fixed;
    /* L'image prendra 100% de l'espace, quitte à la crop */
    background-size: cover;
    /* Centre la position de l'image */
    background-position: center;
    /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/BgLighter.webp");

}