@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/mixins" as m;

.button {
    // @include m.card-shadow;
    border-radius: 15px;
    padding: 0.7em 1.7em;
    font-size: clamp(14px, 1vw, 18px);
    color: v.$secondary-color;
    min-width: 80px;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            color: v.$tertiary-color;
        }
    }

    &:active {
        color: rgba(v.$tertiary-color, 0.5);
    }

    // Style pour l'état désactivé
    &:disabled {
        border-radius: 15px;
        color: #a0a0a0;
        cursor: not-allowed;
        opacity: 0.9;
    }
}