@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/mixins" as m;

.button {
    @include m.card-shadow;
    border-radius: 15px;
    padding: 0.7em 1.7em;
    min-width: 80px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        box-shadow: none;
        color: v.$tertiary-color;
    }

    &:active {
        @include m.card-shadow-inset;
        border-radius: 15px;
        color: rgba(v.$tertiary-color, 0.5);
    }

    // Style pour l'état désactivé
    &:disabled {
        @include m.card-shadow-inset;
        border-radius: 15px;
        color: #a0a0a0;
        cursor: not-allowed;
        opacity: 0.7;
    }
}