@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.stack {
    @include m.section-container;
    @include m.card-shadow-inset;
    height: auto;

    &__container {
        @include m.flex-center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }

    @include m.responsive(mobile) {
        gap: 10px;
    }
}