@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/animations" as a;

.navbar {
    &__list {
        @include m.flex-center;
        flex-direction: row;
        gap: 20px;
    }

    &__item {
        color: v.$primary-color;

        &:hover {
            color: v.$tertiary-color;
        }
    }
}