@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/animations" as a;

.skills {
    @include m.flex-center;
    flex-wrap: wrap;
    padding-top: 5vh;
    flex-direction: column;
    color: v.$tertiary-color;
    height: auto;
    gap: 30px;
    overflow: hidden;
    padding-bottom: 5vh;

    .skills__title {
        @include m.flex-center;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }


    img {
        margin-bottom: 50px;
    }

    h2 {
        @include m.h2-size;

    }
}



.skills__cards {
    @include m.flex-center;
    flex-direction: row;
    gap: 50px;

    @include m.responsive(mobile) {
        flex-direction: column;
    }
}