@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.skills {
    @include m.section-container;
    height: auto;

    &__container {
        @include m.flex-center;
        flex-wrap: wrap;
        gap: 30px;
        min-height: 400px;
        width: 100%;

        @include m.responsive(mobile) {
            @include m.flex-column
        }
    }

    @include m.responsive(mobile) {
        gap: 10px;
    }
}