@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.inProgress {
    @include m.section-container;
    padding-bottom: 10vh;
    gap: 30px;

    &__container {
        @include m.flex-center;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
    }
}