@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/mixins" as m;

.skillsCard {
    @include m.flex-column;
    @include m.border-radius;
    @include m.card-shadow;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px;
    width: 476px;
    height: 400px;

    &__subtitle {
        color: v.$tertiary-color;
        @include m.text-shadow;
        font-size: clamp(17px, 1.5vw, 24px);
        font-weight: 600;
        line-height: 1.4;
    }

    &__description {
        width: 60%;
        @include m.text-shadow;
        padding: 20px;
        text-align: center;
    }

    &__icon {
        @include m.card-shadow-inset;
        padding: 5px;
        max-width: 96px;
    }

    @include m.responsive(mobile) {
        width: 100%;
        margin-bottom: 0;

        &__description {
            @include m.card-shadow-inset;
            @include m.border-radius;
            width: 100%;

            &:hover {
                box-shadow: none;
                transition: box-shadow 0.5s ease-in-out;
            }
        }

        &__icon {
            @include m.responsive(mobile) {
                width: 64px;
                height: 64px;
            }
        }
    }
}