@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.stackCard {
    @include m.border-radius;
    @include m.flex-column;
    align-items: center;
    flex-wrap: wrap;
    color: v.$secondary-color;
    min-width: 100px;
    padding: 5px;
    transition: box-shadow 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out;

    &__icon {
        @include m.responsive(mobile) {
            width: 64px;
            height: 64px;
        }
    }
}