@use "../../../assets/styles/mixins" as m;
@use "../../../assets/styles/variables" as v;

.stackCard {
    @include m.border-radius;
    @include m.flex-column;
    @include m.card-shadow;
    align-items: center;
    flex-wrap: wrap;
    color: v.$secondary-color;
    padding: 5px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

    &:hover {
        box-shadow: none;
    }

    &__icon {
        @include m.responsive(mobile) {
            width: 64px;
            height: 64px;
        }
    }
}